$font-normal: var(--font-normal, -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol);

$color-gray-2: var(--color-gray-2, #eef0f2);
$color-gray-3: var(--color-gray-3, #dcdbe2);
$color-gray-4: var(--color-gray-4, #c7c6d3);
$color-gray-5: var(--color-gray-5, #aaa9bb);
$color-gray-6: var(--color-gray-6, #9f9eb2);
$color-gray-7: var(--color-gray-8, #626175);
$color-gray-8: var(--color-gray-9, #414155);
$color-gray-9: var(--color-gray-10, #36363e);
$color-gray-10: var(--color-gray-11, #151518);

$color-black: var(--color-white, #000);
$color-primary: var(--color-primary, #4c48ff);
$color-white: var(--color-white, #fff);